.header {
  position: absolute;
  width: 100%;
}

.header__content {
  margin: 0 auto;
  max-width: 1448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 7px 31px 30px;
}

.header__contacts-list {
  margin: 0;
  padding: 0;
}
