/* -------------------------

          fonts

---------------------------*/

$global-font: "PT Mono", "Lucida Console", monospace;
$h-font: "Roboto Condensed", "Arial", sans-serif;

/* -------------------------

          colors

---------------------------*/

$white: #ffffff;
$light-grey: #788891;


/* -------------------------

          breakpoints

---------------------------*/

$mobile-width: 767px;
$tablet-width: 1023px;


/* -------------------------

          retina

---------------------------*/

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
